<h1 mat-dialog-title>{{mode == 'add' ? 'Ajouter une vente' : 'Modifier une vente'}}</h1>
<mat-dialog-content>
    <form [formGroup]="sellForm" class="sell-form">
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Objet</mat-label>
                    <input type="text"
                    placeholder="Choisir un item"
                    aria-label="Item"
                    matInput
                    formControlName="item"
                    [matAutocomplete]="item">
                    <mat-autocomplete #item="matAutocomplete">
                        <mat-option *ngFor="let item of filteredItems | async" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint align="end" *ngIf="!itemAlreadyExists">Ce nouvel objet sera ajouté en base.</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field [appearance]="itemAlreadyExists ? 'legacy' : 'fill'">
                    <mat-label>Niveau</mat-label>
                    <input type="number"
                    placeholder="Niveau de l'objet"
                    aria-label="Level"
                    matInput
                    formControlName="level"
                    [readonly]="itemAlreadyExists">
                    <mat-hint align="end" *ngIf="itemAlreadyExists">Autocomplété</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field [appearance]="itemAlreadyExists ? 'legacy' : 'fill'">
                    <mat-label>Catégorie</mat-label>
                    <input *ngIf="itemAlreadyExists" 
                        type="text"
                        placeholder="Catégorie de l'objet"
                        aria-label="Category"
                        matInput
                        formControlName="category"
                        [readonly]="true">
                    <mat-select *ngIf="!itemAlreadyExists" type="text"
                                placeholder="Catégorie de l'objet"
                                aria-label="Category"
                                matInput
                                formControlName="category">
                        <mat-option *ngFor="let category of filteredCategories | keyvalue" [value]="category.value">
                            {{category.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end" *ngIf="itemAlreadyExists">Autocomplété</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field [appearance]="itemAlreadyExists ? 'legacy' : 'fill'">
                    <mat-label>Métier</mat-label>
                    <input *ngIf="itemAlreadyExists" 
                            type="text"
                            placeholder="Métier de l'objet"
                            aria-label="Profession"
                            matInput
                            formControlName="profession"
                            [readonly]="true">
                    <mat-select *ngIf="!itemAlreadyExists"
                                type="text"
                                placeholder="Métier de l'objet"
                                aria-label="Profession"
                                matInput
                                formControlName="profession">
                        <mat-option *ngFor="let profession of filteredProfessions | keyvalue" [value]="profession.value">
                            {{profession.value}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end" *ngIf="itemAlreadyExists">Autocomplété</mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Prix d'achat / craft</mat-label>
                    <input matInput type="number" aria-label="purchase-price" formControlName="purchasePrice">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Prix de vente</mat-label>
                    <input matInput type="number" aria-label="selling-price" formControlName="sellingPrice">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Commentaires</mat-label>
                    <textarea matInput formControlName="comments"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="4"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-checkbox
                    color="primary"
                    formControlName="sold"
                    labelPosition="before">
                    Vendu ?
                </mat-checkbox>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="sellForm.status != 'VALID'" [mat-dialog-close]="sellForm.value" cdkFocusInitial>{{mode == 'add' ? 'Ajouter' : 'Modifier'}}</button>
</mat-dialog-actions>
