<h3>Historique des ventes :</h3>

<div class="table-filter-container">
    <mat-form-field appearance="standard">
        <mat-label>Recherche</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nom de l'objet, type de l'objet, métier, commentaire" #input>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add-sell-button" (click)="openAddSellDialog()">
        Ajouter une vente
        <mat-icon>add</mat-icon>
    </button>
</div>
<div class="mat-elevation-z4">
    <div class="table-header-row">
        <mat-slide-toggle *ngIf="displayMode == 'mobile'" color="primary" class="header-colors" [(ngModel)]="showColors">
            Afficher la coloration
        </mat-slide-toggle>
        
        <mat-radio-group *ngIf="displayMode == 'mobile'" class="header-sort" aria-label="Appliquer un filtre" color="primary" [(ngModel)]="manualFilter" (change)="applySort(manualFilter, filterDirection)">
            <mat-radio-button value="">
                <span (click)="applySort(manualFilter)">Aucun</span>
            </mat-radio-button>
            <mat-radio-button value="name"> 
                <span (click)="applySort(manualFilter)">Nom</span>
                <div *ngIf="manualFilter == 'name' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'name' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div *ngIf="manualFilter == ''">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
            <mat-radio-button value="purchase-price"> 
                <span (click)="applySort(manualFilter)">Prix d'achat / craft</span>
                <div *ngIf="manualFilter == 'purchase-price' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'purchase-price' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div  *ngIf="manualFilter == ''" style="opacity: 0; transform: translateY(25%);">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
            <mat-radio-button value="selling-price">  
                <span (click)="applySort(manualFilter)">Prix de vente</span>
                <div *ngIf="manualFilter == 'selling-price' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'selling-price' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div *ngIf="manualFilter == ''">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
            <mat-radio-button value="profit"> 
                <span (click)="applySort(manualFilter)">Bénéfice</span>
                <div *ngIf="manualFilter == 'profit' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'profit' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div *ngIf="manualFilter == ''">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
            <mat-radio-button value="margin"> 
                <span (click)="applySort(manualFilter)">Taux de marge</span>
                <div *ngIf="manualFilter == 'margin' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'margin' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div *ngIf="manualFilter == ''">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
            <mat-radio-button value="sold"> 
                <span (click)="applySort(manualFilter)">Vendu</span>
                <div *ngIf="manualFilter == 'sold' && filterDirection === 'asc'" (click)="applySort(manualFilter, 'desc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_upward</mat-icon>
                </div>
                <div *ngIf="manualFilter == 'sold' && filterDirection === 'desc'" (click)="applySort(manualFilter, 'asc')">
                    <mat-icon style="transform: scale(0.7); vertical-align: middle;">arrow_downward</mat-icon>
                </div>
                <div *ngIf="manualFilter == ''">
                    <mat-icon style="opacity: 0;">arrow_upward</mat-icon>
                </div>
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <table mat-table class="sells-table" matSort multiTemplateDataRows [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Trier par nom"> Nom </th>
            <td mat-cell *matCellDef="let sell">
                <span>
                    {{ displayMode === 'mobile' ? "Nom" : ""}} 
                </span>
                {{ sell.item.itemName }} 
            </td>
        </ng-container>

        <ng-container matColumnDef="purchase-price">
            <th mat-header-cell arrowPosition='before' *matHeaderCellDef mat-sort-header sortActionDescription="Trier par prix d'achat / craft"> Prix d'achat / craft (k)</th>
            <td mat-cell *matCellDef="let sell" [ngStyle]="{ 'text-align': displayMode === 'mobile' ? 'left' : 'right' }"> 
                <span>
                    {{ displayMode === 'mobile' ? "Prix d'achat / craft (k)" : ""}} 
                </span>
                {{ numberWithSpaces(sell.purchasePrice) || 'NA' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="selling-price">
            <th mat-header-cell arrowPosition='before' *matHeaderCellDef mat-sort-header sortActionDescription="Trier par prix de vente"> Prix de vente (k)</th>
            <td mat-cell *matCellDef="let sell" [ngStyle]="{ 'text-align': displayMode === 'mobile' ? 'left' : 'right' }">
                <span>
                    {{ displayMode === 'mobile' ? "Prix de vente (k)" : ""}}
                </span>
                {{ numberWithSpaces(sell.sellingPrice) || 'NA' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="profit">
            <th mat-header-cell arrowPosition='before' *matHeaderCellDef mat-sort-header sortActionDescription="Trier par bénéfice"> Bénéfice (k)</th>
            <td mat-cell *matCellDef="let sell" [ngStyle]="{ 'text-align': displayMode === 'mobile' ? 'left' : 'right', 'background-color' : showColors && displayMode !== 'mobile' ? getColor(sell) : 'unset', 'color' : showColors && displayMode === 'mobile' ? getColor(sell) : 'black'}">
                <span>
                    {{ displayMode === 'mobile' ? "Bénéfice (k)" : ""}}
                </span>
                <div 
                [ngStyle]="{ }">
                    {{ numberWithSpaces(sell.profit) || 'NA' }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="margin">
            <th mat-header-cell arrowPosition='before' *matHeaderCellDef mat-sort-header sortActionDescription="Trier par taux de marge"> Taux de marge (%)</th>
            <td mat-cell *matCellDef="let sell" [ngStyle]="{ 'text-align': displayMode === 'mobile' ? 'left' : 'right' }">
                <span>
                    {{ displayMode === 'mobile' ? "Taux de marge (%)" : ""}} 
                </span>
                {{ numberWithSpaces(sell.margin) || 'NA' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="sold">
            <th mat-header-cell arrowPosition='before' *matHeaderCellDef mat-sort-header sortActionDescription="Trier par status"> Vendu ?</th>
            <td mat-cell *matCellDef="let sell" [ngStyle]="{ 'text-align': displayMode === 'mobile' ? 'left' : 'right' }">
                <span>
                    {{ displayMode === 'mobile' ? " Vendu ?" : ""}}
                </span>
                <div>
                    <mat-icon *ngIf="sell.sold; else notSold" aria-hidden="false" aria-label="Sold">check</mat-icon>
                    <ng-template #notSold>
                        <mat-icon aria-hidden="false" aria-label="Not sold">close</mat-icon>
                    </ng-template>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
            <td mat-cell *matCellDef="let element" style="text-align: right">
                <div>    
                    <button [disabled]="element != expandedElement && displayMode !== 'mobile'" mat-icon-button round aria-label="edit row" (click)="openEditSellDialog(element); $event.stopPropagation()">
                        <mat-icon *ngIf="element == expandedElement || displayMode === 'mobile'" (mouseenter)="hoverEdit = true;" (mouseleave)="hoverEdit = false" [ngClass]="hoverEdit || displayMode === 'mobile' ? 'mat-primary' : 'gray-icon'">edit</mat-icon>
                    </button>
                    <button [disabled]="element != expandedElement && displayMode !== 'mobile'" mat-icon-button round aria-label="delete row" (click)="openDeleteDialog(element); $event.stopPropagation()">
                        <mat-icon *ngIf="element == expandedElement || displayMode === 'mobile'" (mouseenter)="hoverDelete = true;" (mouseleave)="hoverDelete = false" [ngClass]="hoverDelete || displayMode === 'mobile' ? 'mat-warn' : 'gray-icon'">delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Expanded Content Column -->
        <ng-container matColumnDef="expandedDetail">
            <td  mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithActions.length">
                <div *ngIf="displayMode !== 'mobile'" class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="element-comment-container">
                        <div>Commentaire : </div>
                        <div class="element-comments"> {{element.comments || 'Aucun commentaire'}} </div>
                    </div>
                    <div class="element-category-container">
                        <div>Catégorie : </div>
                        <div class="element-category"> {{element.item.category}} </div>
                    </div>
                    <div class="element-profession-container">
                        <div>Métier : </div>
                        <div class="element-profession"> {{element.item.profession}} </div>
                    </div>
                    <div class="element-level-container">
                        <div>Niveau : </div>
                        <div class="element-level"> {{element.item.level}} </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="columnsToDisplayWithActions.length">Aucune donnée ne correspond à la recherche :&nbsp;"{{input.value}}"</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayMode === 'desktop' ? columnsToDisplayWithActions : [];"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithActions;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element"
            [ngStyle]="{'cursor': displayMode !== 'mobile' ? 'pointer' : 'unset'}">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>   
    
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons 
                 aria-label="Sélectionner une page">
    </mat-paginator>

    <mat-slide-toggle *ngIf="displayMode != 'mobile'" color="primary" style="margin: 1rem 1rem;" [(ngModel)]="showColors">
        Afficher la coloration
    </mat-slide-toggle>
</div>


